
@font-face {
    font-family: 'nokasemibold';
    src: url('static/fonts/Noka-Semibold.otf') format('opentype'), 
		url('../public/static/fonts/noka-semibold-webfont.woff2') format('woff2'),
        url('../public/static/fonts/noka-semibold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.btn-group-lg>.btn, .btn-lg{
	padding: 15px 50px !important;
}

h1, input, .centered1, .numero1, .centered, .numero{
	font-family:"nokasemibold"!important;
}

input{
	text-transform: uppercase!important;
	font-size: 60px!important;
}

.btn{
	font-family:'Roboto'!important;
	font-weight:bold!important;
}